.Home { 
    background-color: var(--background);
    width: 100%;
    padding-top: 60px;
    min-height: calc(100vh - 60px);
}

/* HEADER */
.Home .Header {
    color: var(--primary-fill);
    position: fixed;
    top: 0; /* Ensure it is fixed at the top */
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    z-index: 10; /* Ensure it stays above other content */
    transition: height 300ms ease, opacity 300ms ease;
    height: 60px; /* Define the default height of the header */
    opacity: 1;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.Home .Header-hidden {
    height: 0;
    opacity: 0;
    overflow: hidden; /* Ensures that the content is not visible when the height is 0 */
}

/* Logo */
.Home .Logo-container{
    padding: 10px;

}
/* Profile Icon */
.Home .Profile-icon-container{
    padding: 10px;

}
.Home .Profile-icon{
    fill: var(--primary-fill);
    width: 30px;
    height: 30px;
}
.Home .Profile-icon g{
    fill: inherit;
}

/* DATA-SEPERATOR */
.Home .Event-date-seperator{ 
    background-color: var(--background);
    padding: 10px;
    position: sticky;
    top: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */

}

/* EVENT CONTAINER */
.Home .Event-container{ 
    height: 150px;
    background-color: var(--background);
    padding: 10px;
}