

.UserProfile {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}




.UserProfile .Header {
    /* outline: 1px dashed pink; */
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--primary-fill);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}





/* PROFILE INFO */
.UserProfile .Profile-info {
    /* outline: 1px dashed pink; */
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;

}

.UserProfile .Avatar-container {
    /* outline: 1px solid blue; */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    overflow: hidden;
}
.UserProfile .Avatar-container img {
    /* outline: 1px solid blue; */
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    overflow: hidden;
}

.UserProfile .Personal-info {
    /* outline: 1px solid blue; */
    width: 100%;
    min-height: 80px;
}

.UserProfile .Name {
    font-weight: bold;

}

.UserProfile .Bio {
    color: var(--secondary-text);
    max-height: 85px;
    overflow: scroll;
    text-overflow: ellipsis;
}



.UserProfile .Frineds-icon-container {
    /* outline: 1px solid blue; */
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}










/* EDIT BTN DIV */
.UserProfile .BTN-container {
    outline: 1px dashed pink;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.UserProfile .BTN-container button {
    width: 100px;
    height: 40px;
    background-color: var(--secondary-fill);
    border: none;
    border-radius: 5px;
    color: var(--primary-text);
}

.UserProfile .Button-loading{ 

    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: var(--background);
    animation: title-loading 1.3s infinite;
    background: linear-gradient(90deg, var(--secondary-fill) 25%, var(--primary-fill) 50%, var(--secondary-fill) 75%);
    background-size: 200% 100%;
}


/* SOCIAL MEDIA LINKS DIV */
.UserProfile .Social-links-container {
    /* outline: 1px dashed pink; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.UserProfile .Social-link {
    background-color: var(--element-background);
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}






/* BBOTTOM MARGIN */
.UserProfile .Bottom-margin {
    height: 80px;
}